:root {
  --text-color-head-footer: #F3F3F3;
  --text-background-color-head-footer: #222222;
  --section-background-color: #F3F3F3;
  --section-text-color: black;
  --page-bacground-color: #E5E5E5;
  --text-color-red: red;
  --text-color-green: green;
}

.body {
  box-sizing: border-box;
}