@font-face {
  font-family: 'roboto';
  src: url('../../../assets/font/Roboto-Medium.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
  max-width: 650px;
  margin: 0 auto;
  background-color: #E5E5E5;
}

.header-container span {
  padding-left: 15px;
}

.discount {
  background-color: #D1891C;
  height: 22px;
}

.vertical-align-center, 
.discount, 
.title, 
.footer-container {
  display : flex;
  align-items : center;
}

.background-color-blue, 
.button, 
.title, 
footer {
  background-color: #00669F;
}

.shadow, 
header,
.generic-card {
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.2);
}

.title {
  height: 50px;
  color: #fff;
  font-size: 25px;
}

article {
  background-color: #fff;
}

.generic-card {
  margin-right: 20px;
  width: 274px;
  height: 480px;
  display: inline-block;
  position: relative;
  background-color: #F3F3F3;
  margin-bottom: 60px;
}

.heart-icon {
  background-image: url('data:image/svg+xml,<svg width="20px" height="18px" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.3531 26.9675L15 25.7188L15.6469 26.9675C15.4469 27.0708 15.2251 27.1246 15 27.1246C14.7749 27.1246 14.5531 27.0708 14.3531 26.9675ZM14.3531 26.9675L15 25.7188L15.6469 26.9675L15.6506 26.9656L15.6619 26.96L15.6956 26.9413C15.8918 26.8395 16.0856 26.7332 16.2769 26.6225C18.5613 25.3215 20.7167 23.806 22.7138 22.0963C26.1675 19.1206 30 14.6563 30 9.3125C30 4.3175 26.0888 0.875 22.0312 0.875C19.1306 0.875 16.5881 2.37875 15 4.6625C13.4119 2.37875 10.8694 0.875 7.96875 0.875C3.91125 0.875 0 4.3175 0 9.3125C0 14.6563 3.83437 19.1206 7.28438 22.0963C9.45128 23.9487 11.8038 25.5723 14.3044 26.9413L14.3381 26.96L14.3494 26.9656H14.3531V26.9675Z" fill="%23CC2424"/></svg>');
  width: 20px;
  height: 18px;
  margin: 10px;
  z-index: 99999;
  position: inherit;
}

#round-top, .img-background-card, .generic-card {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.img-background-card {
  position: absolute;
  width: 100%;
  top: 0;
}

.image-face {
  position: relative;
  margin: auto;
  padding-top: 50px;
}

.center, h2, p, .button, .image-face, .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-top: 10px;
}

p {
  font-size: small;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}

article {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 600px;
  margin-top: 30px;
}

.button {
  color: white;
  width: 105px;
  height: 40px;
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  color: white;
  height: 50px;
  font-size: 10px;
  /*margin: 0 20px 0 100px; */
}

.derechos {
  /*margin-right: 100px;*/
}

.gihub {
  font-size: 30px;
  font-weight: 500;
}

.image-circle {
  position: relative;
  width: 120px;
}

#superman-old {
  display: block;
}

#superman-new {
  display: none;
}

@media(max-width: 586px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .cards div:last-child {
    display: none;
  }

  #superman-old {
    display: none;
  }

  #superman-new {
    display: block;
  }

}