* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: white;
  --red: red;
  --border-gray: #e7e7e7;
  --green: #619D00;
  --link-color: #1CA0F6;
  --body-background: #38454F;
  --main-background: #f3f3f3;
  --header-footer-background: #222222;
  --copy-rigth-background: #f1eeee;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1024px;
  max-height: 100vh;
  margin: auto;
  background-color: var(--body-background);
}

.menu {
  display: none;
}

.header-container {
  background-color: var(--header-footer-background);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23rem;
}

.links ul {
  display: flex;
}

li {
  margin-right: 20px;
  list-style: none;
}

li>a {
  color: var(--white);
  text-decoration: none;
}

.buy {
  background-image: url('../img/header-background.png');
  height: 513px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount-message {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

.discount-message span {
  color: var(--red);
}

.btn-buy {
  background-color: var(--red);
  color: var(--white);
  width: 9rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
}

.main-container {
  background-color: var(--main-background);
  text-align: center;
  align-items: center;
  padding: 20px 0 70px 0;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 27px 0;
  margin: 0 45px 20px 0;
  background-color: var(--white);
  border-radius: 6px;
}

.disc {
  padding: 0 0 25px 0;
  border-bottom: 1px solid var(--border-gray);
}

.price {
  text-align: left;
  padding: 15px 0 0 30px;
}

.price p {
  padding-bottom: 5px;
}

.price p:nth-child(1) {
  font-weight: bold;
}

.price p:nth-child(2) {
  font-size: 10px;
  font-weight: bold;
}

.price p:nth-child(3) {
  font-size: 7px;
  color: var(--green);
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title {
  background-color: var(--main-background);
  text-align: center;
  padding-top: 20px;
}

.sub-title {
  margin-top: 70px;
}

.banner {
  position: relative;
}

.banner-text {
  position: absolute;
  color: var(--white);
  top: 40%;
  right: 10%;
}

.banner-img {
  width: 23rem;
  margin: 10px 0;
}

.logo-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  height: 12rem;
  color: var(--white);
  background-color: var(--header-footer-background);
}

.social-media div {
  padding-bottom: 10px;
}

.social-media-img {
  padding-right: 12px;
}

.cp {
  text-align: center;
  padding: 5px 0;
  font-size: 10px;
  font-weight: bold;
  height: 1.5rem;
  background-color: var(--copy-rigth-background);
}

@media(width <= 480px) {
  .nav {
    display: none;
  }
  
  .menu {
    display: block;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 220px;
    margin: 10px 0;
  }

  .discount-message {
    width: 85%;
    text-align: center;
  }

  .products {
    display: flex;
    flex-direction: column;
  }

  .banner {
    margin-bottom: 10px;
  } 

  .banner-img {
    width: 20rem;
  }

  .banner-text {
    top: 40%;
    right: 23%;
  }

  .logo-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: var(--header-footer-background);
  }

  .social-media {
    border: 1px red;
    margin-left: 30px;
  }

  .social-media div {
    font-size: 25px;
    padding: 15px 0 0 0px;
    color: var(--white);
  }
  
  .social-media-img {
    padding: 20px 33px 0 4px;
  }
    
}