* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**** Colors ****/
:root{
  --color-purple-strong: #8B48BF;
  --color-purple-light: #8B48BF4D;
  --color-gray-ligth: #B3B2B7;
  --color-gray-description-player: #FAFAFA;
  --color-black: black;
  --color-white: white;
  --color-cyan: #3CDDF3;
  --color-blue-dark: #232C50;
  --color-blue-footer: #1E1E26;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  min-height: 100vh;
  max-width: 1440px; /*Desktop*/
  margin: 0 auto;
  Font-size: 16px;
  background-color: var(--color-white);
}  

/*********************** Header **********************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}

.header-menu-hamburger {
  display: none;
}

ul {
  list-style: none;
}

.header-menu ul {
  display: flex;
  justify-content: flex-end ;
  padding: 3px 5px;
  font-size: 15px;
}

.header-menu ul li {
  padding-right: 15px;
}

a {
  font-size: .8em;
  font-weight: bold;
  color: var(--color-white);
  text-decoration: none;
}  

a:hover {
  font-weight: 100;
}  

.header-info-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 90%;
  text-align: right;
}  

.header-title {
  font-size: 7rem;
  width: 80%;
}  

.header-sports-man {
  width: 60%;
  position: relative;
}

.header-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;
  text-align: right;
}

.header-title {
  font-size: 2em;
  font-weight: 20em;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.header-sub-title {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 1.5rem;
}    

.header-sports-man img {
  position: inherit;
  max-width: 450px;
  width: 85%;
}

@media(width <= 480px){

  /*********************** Header **********************/
  .header-container {
    width: 85%;
  }

  .header-menu-hamburger {
    display: block;
  }

  .header-menu {
    display: none;
  }

  .header-nav {
    margin-bottom: 2rem;
  }

  .header-sports-man {
    width: 100%;
    margin-bottom: 6.5rem;
  }
  
  .header-sports-man img {
    position: inherit;
    max-width: 25rem;
    width: 100%;
  }
  
  .header-info {
    width: 100%;
  }

  .header-info-container {
    display: block;
  }

  .header-sub-title {
    width: 90%;
    font-size: .8rem;
  }

/*********************** Main **********************/
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  /****** Question ******/
  .main-container-question {
    background-color: var(--color-cyan);
    color: #fff;
    padding: 35px 15px;
    width: 100%;
  }
  
  .main-question {
    font-size: 1.7rem;
  }
  
  .main-question::after {
    content: "What´s different \A between pros?";
    white-space: pre;
  }
  
  .main-question-description {
    font-size: .7rem;
  }
  
  .main-question-description::after {
    content: "\A\A\AManage provides all the functionality your \A teas needs, without the complexity. Our software is \A tailor-made for modern digital product teams";
    white-space: pre;
  }
  
  /****** Answer ******/
  
  .main-containe-answer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 40px 0;
  }
  
  .main-answers{
    display: flex;
    flex-direction: column;
    width: 93%;
    color: var(--color-gray-ligth);
    font-size: 12px;
  }
  
  .main-answer-1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-number-question {
    width: 100%;
    background-color: var(--color-purple-light);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  .main-number-question span:nth-child(1) {
    background-color: var(--color-purple-strong);
    color: #fff;
    display: inline-block;
    width: 42px;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
  }
  .main-number-question span:nth-child(2) {
    color: var(--color-black);
    font-weight: bold;
  }
  
  .main-answer-description {
    padding-right: 20px;
  }
  
  /****** Best of the best ******/
  .main-of-the-best {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .display-none,
  .main-player-1,
  .main-player-3 {
    display: none;
  }
  
  .main-best-title { 
    height: 90px;
  }
  
  .main-player-header {
    background-color: var(--color-gray-description-player);
  }
  
  .main-player-header img {
    position: absolute;
    width: 55px;
    right: 45%;
    top: 60px;
    z-index: 1;
  }
  
  .center-h {
    display: flex;
    justify-content: center;
    width: auto;
  }
  
  .main-player-description {
    position: relative;
    padding-top: 45px;
    font-size: .8rem;
    color: var(--color-gray-ligth);
    background-color: var(--color-gray-description-player);
    width: 95%;
    left: 11px;
  }

  .main-player-description div:nth-child(1) {
    color: var(--color-black);
    font-weight: bold;
  }

  .main-player-description div:nth-child(2) {
    padding: 20px 0;
  }

  .button-action,
  .header-button,
  .main-button-more,
  .main-go-for-it,
  .footer-button-go {
    background-color: var(--color-purple-strong);
    color: #fff;
    border-radius:25px;
    border: none;
    width: 6rem;
    height: 1.9rem;
    font-size: .6rem;

  }
  
  .main-button-more {
    margin: 30px 0 40px 0;
  }
  
  /**** Get to Know ****/
  .main-team-of-the-year {
    background-color: var(--color-cyan);
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-team-title {
    font-size: 1.7rem;
    padding: 35px 30px;
    text-align: center;
  }

  .main-team-title div::after {
    content: "Get to know the \A best \A teams of the \A year";
    white-space: pre;
  }

  .main-go-for-it {
    background-color: var(--color-blue-dark);
    margin-bottom: 25px;
  }

  /*********************** Footer **********************/
  .footer-container {
    background-color:var(--color-blue-footer);
    color: var(--color-white);
  }

  .footer-space {
    height: 50px;
  }
  
  .footer-actions {
    text-align: center;
  }
  
  .footer-actions input{
    width: 15rem;
    height: 1.9rem;
    font-size: .6rem;
    margin-right: 2px;
    border-radius: 25px;
  }
  .footer-actions button {
    width: 45px;
  }

  /*input - placeholder*/
  #inbox {
    padding-left: 10px;
  }
  
  .footer-links-container {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
  }
  
  .footer-links-container ul {
    line-height: 30px;
  }
  
  .footer-logo-social-media {
    text-align: center;
  }
  .footer-social-media {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-logo {
    color: var(--color-white);
    padding-top: 30px;
  }
  
  .footer-copyright {
    padding: 30px 0;
    text-align: center;
  }
}